[submodule "Keela/vender/spdlog"]
	path = Keela/vender/spdlog
	url = http://github.com/gabime/spdlog
[submodule "Keela/vender/GLFW"]
	path = Keela/vender/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Keela/vender/glm"]
	path = Keela/vender/glm
	url = https://github.com/g-truc/glm/
